/* Header */
*{
  margin: 0px;
  padding: 0px ;
  /* color: rgb(36, 40, 48); */
  font-family: Roboto,Arial,Helvetica,sans-serif;
}
.header{
  height: fit-content;
  background-color: whitesmoke;
  display: flex;
  /* padding: 5px; */
  align-items: center;
  padding: 12px 10px;
  /* position: fixed; */
}
.logo{
  width: 40px;
}

.search{
  border: 2px solid;
  width: auto;
  height: 45px;
  display: flex;
  align-items: center;
  /* margin: 5px 60px; */
  /* padding: 5px; */
  border-radius: 4px;
  background-color: white;
  justify-content: space-between;
}
.S2{
  background-color: rgb(36, 40, 48);
  display: inline;
  color: white;
  height: 100%;
  width: 10%;
}

h5{
  color: rgb(36, 40, 48);
}

input{
  height: 100%;
  width: 90%;
  border: 0px;
  padding: 10px;
}
.search2{
  padding-left: 0px !important; 
  padding-right: 0px !important;
  margin-left: 20px;
  /* width: 5px; */
  
}
button{
  height: 100%;
  border: 0px;
  background-color: white;
  
}
.Sell > h6{
  display: inline;
  align-items: center;
  
  
}
.Sell{
  /* width: 200px ; */
  border-radius: 40px;
  width: 70px;
  border: 2px solid;
  padding: 0px;
}
.loginBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  /* border: 1px solid; */
  padding: 0px !important;
  /* width: 400px !important; */
}
a > h5{
  display: inline;
  font-size: 16px;
  margin-right: 3px;
}
a:hover{
  color:  rgb(36, 40, 48) !important;
}
/* Header CSS End */

/* Nav CSS Start */
.list > li{
  list-style: none;
  display: inline-block;
  margin: 0px 8px;
}
.list{
  margin: 0px !important;
}
.ListBox{
  padding: 0px !important;
}

.btn-AllCate > b{
  margin-right: 7px;
  font-size: 13px;
}
.Nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  
}
li{
  font-size: 14px;
  
}
a{
  color:rgb(36, 40, 48) !important ;
}
.catBox, .btn-AllCate{
  /* width: 100px !important; */
  padding: 0px !important;
  margin: 0px !important;
  
}
.catBox{
  width: fit-content !important;
  padding: 0px !important;
}
.btn-AllCate{
  margin-left: 12px !important;
}

/* Nav CSS End */

/* Slide image */

.SlidImg{
  height: 220px;
  
  
}
/* SlideImg End */

/* AdSection Start */

.Adsection{
  margin-top: 60px;
  padding: 30px 50px;
}
/* Card{
  width: 40px;
  height: 60px;
} */


.infoContainer{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;

}
.infotext{
  width: 375px;
  text-align: left;
  padding-right: 10px !important;
  border-right: 2px solid rgb(212, 212, 212);
}
.infotext>p{
  font-size: larger;
  font-weight: 450;
}
.infotext>h2{
  
  font-family: sans-serif !important;
  font-weight:700 !important;
}
.AppBox>p{
    font-family: sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px;
    /* padding-left: 10px !important; */
}
.outer{
  padding-left: 50px;
}
/* SubContainer CSS */
.SubInfoContainer{
  background-color: #ebeeef;
}
.StoreBox>a{
    margin-right: 5px;
    width: 30px;
}
.socialLink>li{
  display: inline-block;
  list-style: none;
  width: 50px;
  height: fit-content;

}
table{
  margin: 10px auto;
  /* border: 1px solid; */
  width: 100%;
  margin: auto 30px;
}
td,th{
  /* border: 1px solid; */
  /* padding: 5px; */
  font-size: smaller;
}
ul{
  border: 1px solid;
  width: fit-content;
}
